<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">CodeQuest</span> Tutorials</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home_page' %}" class="current">Home</a></li>
                <li><a href="{% url 'tutorials_page' %}">Tutorials</a></li>
                <li><a href="{% url 'about_page' %}">About</a></li>
                <li><a href="{% url 'contact_page' %}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>



